In [ ]:
# pip install selenium
# pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
# !pip install spacy==2.3.5
# pip install pyresparser

In [1]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

NameError: name 'nltk' is not defined

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd
import pickle
import nltk
import numpy as np

In [3]:
with open('NaiveBayes.pickle', 'rb') as efile:
    clf=pickle.load(efile)
with open('TFIDFVectorizer.pickle', 'rb') as efile:
    word_vectorizer=pickle.load(efile)
with open('LabelEncoder.pickle', 'rb') as efile:
    le=pickle.load(efile)

c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator MultinomialNB from version 1.0.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator LabelBinarizer from version 1.0.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator OneVsRestClassifier from version 1.0.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator TfidfTransformer from version 1.0.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 1.0.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator LabelEncoder from version 1.0.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [4]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

stop_words = set(stopwords.words('english')) #creating a set of stop words
def cleanResume(resumeText):
  
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    word_tokens = word_tokenize(resumeText) #Tokenize words
    filtered_sentence = [w for w in word_tokens if not w in stop_words] #Contains words other than stop words
    filtered_sentence = map(lambda x: lemmatizer.lemmatize(x), filtered_sentence)
    
    resumeText=' '.join(filtered_sentence)
    return resumeText

In [5]:
def largest_indices(ary, n):
    flat = ary.flatten()
    indices = np.argpartition(flat, -n)[-n:]
    indices = indices[np.argsort(-flat[indices])]
    return indices

In [6]:
def test(sent):
  sent=cleanResume(sent)
  WordFeatures = word_vectorizer.transform([sent])
  x=largest_indices(clf.predict_proba(WordFeatures), 3)
  recommendation=le.inverse_transform(x)
  return recommendation

In [7]:
from pyresparser import ResumeParser
def resume_test(path):
    data = ResumeParser(path).get_extracted_data()
    sentences=" "
    omit=["name", "email", "mobile_number", "no_of_pages", "total_experience"]
    for key, value in data.items():
          if value !=None and key not in omit: 
            if type(value)==list:
                  sentences= sentences +" "+ key + " " + " ".join(value)
            else:
                  sentences= sentences +" "+ key + " " + value
    professions= test(sentences)
    return (professions,data)

In [8]:
professions,data= resume_test('VithikaPungliya_Resume.pdf')

c:\users\ankur\appdata\local\programs\python\python39\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [9]:
data

{'name': 'VITHIKA PUNGLIYA',
 'email': 'vithikapungliya25@gmail.com',
 'mobile_number': '8484822102',
 'skills': ['Ai',
  'Opencv',
  'Linux',
  'Math',
  'Numpy',
  'Compliance',
  'Technical',
  'Analytics',
  'Forecasting',
  'Analysis',
  'Github',
  'Cloud',
  'Video',
  'C',
  'Mining',
  'Programming',
  'Sql',
  'Website',
  'Architecture',
  'Keras',
  'Java',
  'Audio',
  'Research',
  'Green',
  'Python',
  'Machine learning',
  'Data analytics',
  'Pandas',
  'Matplotlib',
  'Tensorflow',
  'Communication',
  'Parser',
  'Database'],
 'college_name': None,
 'degree': None,
 'designation': None,
 'experience': ['Pune, India',
  'June 2021 – Present',
  'Pune Ploggers – A Pune based organization that carries out plogging activity.',
  '•  Plogging drives are carried out on the weekend and the waste on hill slopes and riverbanks is gathered.',
  'Green Hills – Tree Plantation on Hills',
  '•  With the help of this organization, we have planted around 1000 trees on the hill slopes around Pune.',
  'ReBooks – Redistribute your used Books',
  '• This organization collects the used books and distributes them amongst the needy. This was partnered with the   MyPustak.com and the',
  'books were made available on their website too.'],
 'company_names': None,
 'no_of_pages': 2,
 'total_experience': 1.25}

In [10]:
print(professions)

['Data Science' 'Python Developer' 'Java Developer']

In [11]:
counter=0
df = pd.DataFrame(columns=['Title','Company','Ratings','Salary','Location','Job_Post_History','URL', 'Skills', "Profession"])
for i in professions:
    counter=counter+1
    for j in range(1,3):
        a=i.replace(" ","-")
        b=i.replace(" ","%20")
        url = f"https://www.naukri.com/{a}-jobs-{j}?k={b}"

        driver = webdriver.Chrome("chromedriver.exe")
        driver.get(url)
        time.sleep(1)

        soup = BeautifulSoup(driver.page_source,'html5lib')

        driver.close()

        results = soup.find(class_='list')
        job_elems = results.find_all('article',class_='jobTuple bgWhite br4 mb-8')

        for job_elem in job_elems:

            # URL to apply for the job     
            URL = job_elem.find('a',class_='title fw500 ellipsis').get('href')

            # Post Title
            Title = job_elem.find('a',class_='title fw500 ellipsis')

            # Company Name
            Company = job_elem.find('a',class_='subTitle ellipsis fleft')

            # Ratings
            rating_span = job_elem.find('span',class_='starRating fleft dot')
            if rating_span is None:
                continue
            else:
                Ratings = rating_span.text


            # Salary offered for the job
            Sal = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi salary')
            Sal_span = Sal.find('span',class_='ellipsis fleft fs12 lh16')
            if Sal_span is None:
                continue
            else:
                Salary = Sal_span.text

            # Location for the job post
            Loc = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi location')
            Loc_exp = Loc.find('span',class_='ellipsis fleft fs12 lh16')
            if Loc_exp is None:
                continue
            else:
                Location = Loc_exp.text

            # Number of days since job posted
            Hist = job_elem.find("div",["type br2 fleft grey","type br2 fleft green"])
            Post_Hist = Hist.find('span',class_='fleft fw500')
            if Post_Hist is None:
                continue
            else:
                Post_History = Post_Hist.text
                
            #Skills
            skills=job_elem.find_all("ul", ["tags has-description"])

        #   Appending data to the DataFrame 
            df=df.append({'URL':URL,'Title':Title.text,'Company':Company.text,'Ratings':Ratings,'Salary':Salary,'Location':Location,'Job_Post_History':Post_History, "Profession":i,"Profession_key":counter, "Skills":skills},ignore_index = True)
#         print(df)

C:\Users\ankur\AppData\Local\Temp/ipykernel_7536/639764183.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

In [ ]:
#Display on Website
#Every Profession highest cosine similarity 10
#Profession
#Company
#Position
#Ratings- Filter
#Location
#Job_Post_History
#URL
#Skills
#Cosine Similiarty Index

#Index
#Resume Skills and Needed/Required Skills- Cosine Similarity

In [ ]:
#Build Cosine Similarity

In [12]:
def convert_list(ls):
    ls=np.array(ls)
    l=[]
    
    for x in np.nditer(ls):
        l.append(str(x)) 
    return l

In [13]:
df["Skills"]=df["Skills"].apply(convert_list)

ValueError: Iteration of zero-sized operands is not enabled

In [ ]:
df["Skills"]

In [ ]:
user_skills=" ".join(data["skills"])
user_skills

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
cv = CountVectorizer()
def score(ls):
    JobText=' '.join(ls)
    text=[user_skills,JobText]
    count_matrix = cv.fit_transform(text)
    matchPercentage=cosine_similarity(count_matrix)[0][1] * 100
    return round(matchPercentage, 2)

In [ ]:
df["score"]=df["Skills"].apply(score)

In [ ]:
top15=df.sort_values('score',ascending=False)[:15]

In [50]:
top15

,Title,Company,Ratings,Salary,Location,Job_Post_History,URL,Skills,Profession,Profession_key,score
18,Lead - Data Science,United Phosphorus Limited,4.3,Not disclosed,Bangalore/Bengaluru,9 Days Ago,https://www.naukri.com/job-listings-lead-data-...,"[Data Science, advanced analytics, digital ana...",Data Science,1.0,37.50
26,Data Science Trainer,STARAGILE CONSULTING,5.0,"9,00,000 - 17,00,000 PA.","Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",3 Days Ago,https://www.naukri.com/job-listings-data-scien...,"[trainer, Business Intelligence tools, Data An...",Data Science,1.0,36.38
9,Hiring For AVP |Data Science and Business Ana...,Citicorp Finance,4.0,Not disclosed,"Pune, Bangalore/Bengaluru",3 Days Ago,https://www.naukri.com/job-listings-hiring-for...,"[R, Data Science, python, Business Analytics, ...",Data Science,1.0,34.02
14,Senior Software Engineer - Data Science,LogiNext,4.0,Not disclosed,Mumbai,1 Day Ago,https://www.naukri.com/job-listings-senior-sof...,"[IT Skills, Java, Python, Testing, Machine Lea...",Data Science,1.0,32.36
5,Analyst-Data Science,Accenture,4.2,Not disclosed,Mumbai,1 Day Ago,https://www.naukri.com/job-listings-analyst-da...,"[Publishing, Architecture, Consulting, Machine...",Data Science,1.0,31.62
21,"Senior Manager, Data Science And Analytics",TransUnion,4.3,Not disclosed,Pune,6 Days Ago,https://www.naukri.com/job-listings-senior-man...,"[IT Skills, Java, Python, Data Science, Machin...",Data Science,1.0,30.15
12,Senior Analyst-Data Science,Accenture,4.2,Not disclosed,Gurgaon/Gurugram,6 Days Ago,https://www.naukri.com/job-listings-senior-ana...,"[Publishing, Consulting, Predictive modeling, ...",Data Science,1.0,30.12
29,Director Data Science,Optum,4.1,Not disclosed,Gurgaon/Gurugram,10 Days Ago,https://www.naukri.com/job-listings-director-d...,"[Data Science, NLP, Business Analytics, data s...",Data Science,1.0,30.00
11,Senior Analyst-Data Science,Accenture,4.2,Not disclosed,Gurgaon/Gurugram,6 Days Ago,https://www.naukri.com/job-listings-senior-ana...,"[Publishing, Artificial Intelligence, Consulti...",Data Science,1.0,28.87
33,Software Engineer - Data Science,LogiNext,4.0,Not disclosed,Mumbai,1 Day Ago,https://www.naukri.com/job-listings-software-e...,"[Python, Tableau, Excel, data mining, Java, Ha...",Data Science,1.0,27.78
22,Manager - Payments - Data Science,Bajaj Finserv,4.1,Not disclosed,Pune,7 Days Ago,https://www.naukri.com/job-listings-manager-pa...,"[NoSQL, cassandra, Machine learning, Data coll...",Data Science,1.0,27.50
8,Senior Manager Data Science,Optum,4.1,Not disclosed,Bangalore/Bengaluru,1 Day Ago,https://www.naukri.com/job-listings-senior-man...,"[Data Science, deep learning, SQL, NLP, Python...",Data Science,1.0,26.73
6,Senior Analyst-Data Science,Accenture,4.2,Not disclosed,Bangalore/Bengaluru,6 Days Ago,https://www.naukri.com/job-listings-senior-ana...,"[Publishing, Consulting, Predictive modeling, ...",Data Science,1.0,26.73
2,Analyst-Data Science,Accenture,4.2,Not disclosed,Bangalore/Bengaluru,1 Day Ago,https://www.naukri.com/job-listings-analyst-da...,"[Publishing, Consulting, Predictive modeling, ...",Data Science,1.0,26.73
32,Data Science Engineer,Consilium Software,3.1,Not disclosed,New Delhi,1 Day Ago,https://www.naukri.com/job-listings-data-scien...,"[IT Skills, Java, Python, Data Science, Machin...",Data Science,1.0,26.09

In [51]:
top5_2 = df_sorted[df_sorted['Profession_key'] == 2.0 ][:5]

NameError: name 'df_sorted' is not defined

In [ ]:
top5_2

In [ ]:
top5_3=df_sorted[df_sorted['Profession_key'] == 3.0 ][:5]

In [ ]:
top5_3